html, body, * {
  box-sizing: border-box;
  color: #53555b;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  height: 50px;
  position: absolute;
  right: 0;
  top: 0;
  width: 150px;
}

#main-container {
  background-image: url(./assets/img//background.jpg);
  background-size: cover;
  display: flex;
  font-weight: 400;
  justify-content: center;
  margin: 0;
  padding-bottom: 10px;
  width: 100%;
}

.page {
  box-sizing: border-box;
  height: 29.684cm;
  margin: 0;
  padding: 0;
  width: 21.1cm;
}

.page > * {
  margin: 0;
}

header {
  background-color: rgb(49, 63, 78);
  height: 9%;
  padding: 12px 20px;
}

header .name, header .major {
  color: white;
  font-family: Helvetica, sans-serif;
  font-weight: 400;
  margin: 0;
}

header .major {
  font-weight: 100;
  margin-top: 10px;
}

.contents {
  box-sizing: border-box;
  display: flex;
  height: 91%;
  width: 100%;
}

.main-section {
  background-color: white;
  display: inline-block;
  width: 70%;
}

.main-section > section,
.right-section > section {
  padding: 20px;
}

.highlights {
  font-family: Helvetica, sans-serif;
  font-size: small;
  font-weight: 100;
  text-align: left;
  word-spacing: normal;
  font-variant: normal;
}

li {
  font-variant: normal;
  font-weight: 100;
}

.section-title {
  border-bottom: 1px solid #bdbdbd;
  color: rgb(49, 63, 78);
  font-family: Tahoma, sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.right-section {
  background-color: #f5f5f5;
  display: inline-block;
  width: 30%;
}

.experience-card {
  font-family: Helvetica, sans-serif;
  padding: 10px 0;
}

.experience-card .title {
  color: #53555b;
  font-family: Helvetica, sans-serif;
  font-size: 17px;
}

.experience-card .company {
  font-family: Helvetica, sans-serif;
  font-size: 15px;
  margin-bottom: 10px;
}

.experience-card .company .name{
  color: #919191;
  font-weight: bold;
}

.experience-card .company .duration{
  color: #919191;
  font-size: 14px;
}

ul {
  font-family: Helvetica, sans-serif;
  font-size: small;
  list-style: disc;
  list-style-position: inside;
}

.certificate-card {
  color: #53555b;
  font-family: Helvetica, sans-serif;
  margin: 8px 0;
}

.date {
  color: #919191;
  font-size: small;
}

.education-card {
  color: #53555b;
  font-family: Helvetica, sans-serif;
  margin: 8px 0;
}

.education-card .institution{
  font-size: small;
}

.info-item {
  color: #53555b;
  font-family: Helvetica, sans-serif;
  font-size: small;
  margin-top: 10px;
}

.info-item .info {
  display: block;
  font-weight: 100;
  margin-top: 6px;
}

.skill-card {
  display: flex;
  font-family: Helvetica, sans-serif;
  font-size: small;
  justify-content: space-between;
  padding: 20px 0;
}

.skill-level-container {
  display: flex;
}

.disc {
  background-color: #c2c2c2;
  border-radius: 50%;
  display: inline-block;
  height: 12px;
  margin-right: 2px;
  width: 12px;
  position: relative;
}

.fill {
  background-color: rgb(49, 63, 78);
}

.half-disc-left{
  height:12px;
  width:6px;
  border-radius: 90px 0 0 90px;
  background:rgb(49, 63, 78);
}

.concentric-half {
  background-color: rgb(49, 63, 78);
  height: 6px;
  width: 6px;
  position: absolute;
  top: 25%;
  left: 25%;
}